.profile__button-edit {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-image: url(../../../src/images/edit-button.svg);
    background-size: 18px;
}

@media (min-width: 1024px) {
    .profile__button-edit {
        margin-left: 18px;
        width: 24px;
        height: 24px;
        background-size: 24px;
    }
}

.profile__button-edit:hover {
    opacity: .6;
    transition: 200ms;
}