.profile__status {
    margin: 0 auto 33px;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 282px; 
}

@media (min-width: 1024px) {
    .profile__status {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        padding-left: 30px;
        margin: 0;
        max-width: 500px; 
    }
}