.popup__button-close {
    display: flex;
    margin: -36px 0 16px auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url(../../../src/images/close_mobile.svg);
}

@media (min-width: 1024px) {
    .popup__button-close {
        display: flex;
        align-items: stretch;
        margin: -40px -40px 8px auto;
        right: 385px;
        width: 32px;
        height: 32px;
        background-size: cover;
    }
}

.popup__button-close:hover {
    opacity: .6;
    transition: 200ms;
}