.element__button-delete {
    background-image: url(../../../src/images/button-deleted.svg);
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    cursor: pointer;
    border: none;
}

.element__button-delete:hover {
    opacity: .6;
    transition: 200ms;
}