.footer {
    min-width: 282px;
    margin: 48px auto 36px;
    color: #545454;
}

@media (min-width: 768px) {
    .footer {
        min-width: calc((2*282px) + 17px);
    }
}

@media (min-width: 1024px) {
    .footer {
        min-width: calc((282px*3) + (17px*2));
        margin: 67px auto 60px;
    }
}