.element__button-like {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    margin-right: 20px;
    align-self: center;
    height: min-content;
    cursor: pointer;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/button-like.svg);
}

.element__button-like:hover {
    opacity: .5;
    transition: 200ms;
}

.element__button-like:active {
    background-image: url(../../../images/button-like-active.svg);
    background-repeat: no-repeat;
    opacity: 1;
}