.popup__field {
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 27px;
    padding: 0 0 5px 0;
    margin: auto;
    margin-bottom: 0;
    border: none;
    border-bottom: rgba(0, 0, 0, .2) solid 1px;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .popup__field {
        width: 358px;
        height: 37px;
        
    }
}

/*Отступы для второго текстового поля*/
.popup__field:nth-of-type(2) {
    margin-top: 32px;
}

/*Стиль активного поля*/
.popup__field:focus {
    outline: none;
}

/*Стили плейсхолдеров*/
.popup__field::placeholder {
    font-family: inherit;
    color: black;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
}

/*.popup__field:invalid {
    border-bottom: #f00 solid 1px;
}*/